


<div class="example-header">
  <mat-form-field class="filter">
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" [(ngModel)]="filterValue">

    <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilterValue()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button  class="primary" aria-label="Example icon button with a home icon" (click)="new()">
    <mat-icon>add</mat-icon> Nuevo
  </button>
  <button mat-button aria-label="Example icon button with a bookmark icon">
    <mat-icon>search</mat-icon> Buscar
  </button>
  <button mat-button  > <mat-icon>edit</mat-icon> Editar</button>

  <button mat-button> <mat-icon>delete</mat-icon> Eliminar</button>

  <button mat-button [matMenuTriggerFor]="menu"> <mat-icon>add</mat-icon>Mas Acciones</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="viewOdontograma()" >Odontrograma</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

</div>

<div class="example-container">
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  
  <mat-table [dataSource]="dataSource" matSort>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row  *matRowDef="let row; columns: displayedColumns; ; let i = index"></mat-row>

    <!-- Numero -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nro. </mat-header-cell>
      <mat-cell *matCellDef="let i=index" data-label="i"> {{i}} </mat-cell>
    </ng-container>

    <!-- id Column -->
    <ng-container matColumnDef="pacientId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="pacientId"> {{row.pacientId}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="pacientNames">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres/Apellidos </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="pacientNames"> {{row.pacientNames}} </mat-cell>
    </ng-container>

    <!-- CI Column -->
    <ng-container matColumnDef="pacientDni">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CI </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="pacientDni"> {{row.pacientDni}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="pacientEmail">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="pacientEmail"> {{row.pacientEmail}} </mat-cell>
    </ng-container>

  
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef > Actions </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="openEditPacient(row)"> <mat-icon  >edit</mat-icon></button>
        <button mat-icon-button (click)="deletePacient(row)" color="warn" aria-label="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  </mat-table>
</div>


<!-- 
<app-form-register *ngIf="showFormRegister"></app-form-register>

        
<app-odontograma-form *ngIf="showFormOdontogram" ></app-odontograma-form> -->
