<div class="odontograma">

    <!-- Linea una -->
    <div class="item item-18">18 </div>
    <div class="item item-17">17 </div>
    <div class="item item-16">16 </div>
    <div class="item item-15">15 </div>
    <div class="item item-14">14 </div>
    <div class="item item-13">13 </div>
    <div class="item item-12">12 </div>
    <div class="item item-11">11 </div>
  
    <div class="space item-space"> </div>
  
  
    <div class="item item-21">21 </div>
    <div class="item item-22">22 </div>
    <div class="item item-23">23 </div>
    <div class="item item-24">24 </div>
    <div class="item item-25">25 </div>
    <div class="item item-26">26 </div>
    <div class="item item-27">27 </div>
    <div class="item item-28">28 </div>
  
  
    <!-- Linea dos -->
    <div class="item item-55">55 </div>
    <div class="item item-54">54 </div>
    <div class="item item-53">53 </div>
    <div class="item item-52">52 </div>
    <div class="item item-51">51 </div>
  
    <div class="space item-space"> </div>
  
    <div class="item item-61">61 </div>
    <div class="item item-62">62 </div>
    <div class="item item-63">63 </div>
    <div class="item item-64">64 </div>
    <div class="item item-65">65 </div>
    <!-- Linea tres -->
  
    <div class="item item-85">85 </div>
    <div class="item item-84">84 </div>
    <div class="item item-83">83 </div>
    <div class="item item-82">82 </div>
    <div class="item item-81">81 </div>
  
    <div class="space item-space"> </div>
  
    <div class="item item-71">71 </div>
    <div class="item item-72">72 </div>
    <div class="item item-73">73 </div>
    <div class="item item-74">74 </div>
    <div class="item item-75">75 </div>
  
  
    
    <!-- Linea cuatro -->
  
    <div class="item item-48">48 </div>
    <div class="item item-47">47 </div>
    <div class="item item-46">46 </div>
    <div class="item item-45">45 </div>
    <div class="item item-44">44 </div>
    <div class="item item-43">43 </div>
    <div class="item item-42">42 </div>
    <div class="item item-41">41 </div>
  
    <div class="space item-space"> </div>
  
  
    <div class="item item-31">31 </div>
    <div class="item item-32">32 </div>
    <div class="item item-33">33 </div>
    <div class="item item-34">34 </div>
    <div class="item item-35">35 </div>
    <div class="item item-36">36 </div>
    <div class="item item-37">37 </div>
    <div class="item item-38">38 </div>
  
  
  
  
  </div>
  