


<div class="example-header">
  <mat-form-field class="filter">
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" [(ngModel)]="filterValue">

    <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilterValue()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-fab aria-label="Example icon button with a home icon" (click)="new()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-fab aria-label="Example icon button with a bookmark icon">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-button  > <mat-icon>edit</mat-icon> Editar</button>

  <button mat-button> <mat-icon>delete</mat-icon> Eliminar</button>

  <button mat-button [matMenuTriggerFor]="menu"> <mat-icon>add</mat-icon>Mas Acciones</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="viewOdontograma()" >Odontrograma</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

</div>

<div class="example-container">
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <mat-table [dataSource]="dataSource" matSort>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="id"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="name"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="progress">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="progress"> {{row.progress}}% </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> {{row.color}} </mat-cell>
    </ng-container>
  </mat-table>

</div>