

<div class="container">
    <div class="item item-1">ok </div>
    <div class="item item-2">ok </div>
    <div class="item item-3">ok </div>
  </div>



<form #forma="ngForm" class="example-form">


    
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre y Apellidos" value="" ngModel name="nombre">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Cedula De Identidad" value="0" ngModel name="cedula">
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Edad" value="0" ngModel name="edad">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Teléfono" value="0" ngModel name="telefono">
    </mat-form-field>

    
    <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Teléfono Adicional" value="0" ngModel name="telefono2">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Domicilio" value="" ngModel
            name="comments"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Ocupación" value="" ngModel name="ocupacion">
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <input matInput placeholder="Fecha de nacimiento" value="" ngModel name="fecnac">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Referido por" value="" ngModel name="referidopor">
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" value="" ngModel name="email">
    </mat-form-field>
    <button (click)="forma.reset()" mat-raised-button color="primary">Guardar</button>
</form>
